/*  ==========================================================================
    Links
    ========================================================================== */

    /*
     * CSS for all devices
     */

	@media only screen {
		a {
			color: $color-primary;
			text-decoration: none;
			font-size: 18px;
			font-weight: 500;

			&:hover {
				color: darken($color: $color-primary, $amount: 10%);
			}

			&.back {
				padding-left: 20px;
				position: relative;

				@include transition(.1s ease-in-out);

				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;

					width: 20px;
					height: 4px;

					background: $color-primary;

					@include transition(.2s ease-in-out);
				}

				&:hover {

					&:after {
						bottom: 100%;

						@include transition(.1s ease-in);
					}

					@include transition(.1s ease-in);
				}
			}
		}
    }


    /*
     * CSS for devices with resolution up to a maximum of breakpoint
     */

    @media only screen and (max-width: $breakpoint) {

    }

    /*
     * CSS for devices with resolution up to the minimum breakpoint
     */

    @media only screen and (min-width: $breakpoint+1) {

    }
