/*  ==========================================================================
    Variables
    ========================================================================== */

    /*  Breakpoints
        ========================================================================== */
        $breakpoint         : 768px;  /* Breakpoint for small devices (Phones and Tablets)*/
        $breakpoint-medium  : 992px;  /* Breakpoint for medium devices (Desktops)*/
        $breakpoint-large   : 1366px; /* Breakpoint for large devices (Desktops)*/

    /*  ==========================================================================
        Fonts
        ========================================================================== */
        $font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;

    /*  ==========================================================================
        Colors
        ========================================================================== */
        /* Brand */
        $color-primary:     #1972D1;
        $color-secondary:   #5CB85C;
        $color-tertiary:    #D9534F;

        /* Default */
        $color-white:         #fcfcfc;
        $color-gray-lightest: #EEE;
        $color-gray-light:    #CCC;
        $color-gray:          #999;
        $color-gray-dark:     #666;
        $color-gray-darkest:  #333;
        $color-black:         #222;
        $color-default:       $color-gray;

        /* Alert */
        $color-info:          #457eaf;
        $color-info-light:    #cfe6f7;
        $color-warning:       #f79303;
        $color-warning-light: #fff4c6;
        $color-success:       #00b894;
        $color-success-light: #1DD1A1;
        $color-danger:        #e74c3c;
        $color-danger-light:  #f4ceca;
